@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-sm > .table-bordered {
    border: 0;
  }

  .text-wrap .table-responsive-sm > table {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-md > .table-bordered {
    border: 0;
  }

  .text-wrap .table-responsive-md > table {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-lg > .table-bordered {
    border: 0;
  }

  .text-wrap .table-responsive-lg > table {
    border: 0;
  }
}

@media (max-width: 1279.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-xl > .table-bordered {
    border: 0;
  }

  .text-wrap .table-responsive-xl > table {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}

.text-wrap .table-responsive > table {
  border: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}

div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:first-child {
  padding-left: 0;
}

div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:last-child {
  padding-right: 0;
}

@media screen and (max-width: 335px) {
  div.table-responsive
    > div.dataTables_wrapper
    > div.row
    > div[class^="col-"]:last-child {
    padding-left: 0;
    padding-right: 0;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.rtl
  div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:first-child {
  padding-right: 0;
  padding-left: initial;
}

.rtl
  div.table-responsive
  > div.dataTables_wrapper
  > div.row
  > div[class^="col-"]:last-child {
  padding-left: 0;
  padding-right: initial;
}

thead {
  display: table-header-group;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #e9edf4;
  border-bottom-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 0;
}

.text-wrap table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #e9edf4;
  border-bottom-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table-bordered thead th,
.text-wrap table thead th,
.table-bordered thead td,
.text-wrap table thead td {
  border-bottom-width: 1px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table .thead-dark th,
.text-wrap table .thead-dark th {
  color: #f6f6fb;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th,
.text-wrap table .thead-light th {
  color: #495057;
  background-color: #f6f6fb;
  border-color: #e9edf4;
}

table.dataTable > thead > tr > th:active,
table.dataTable > thead > tr > td:active {
  outline: none;
}

table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
}

table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 3;
}

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 3;
}

table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 3;
}

table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 3;
}

table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 3;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
  right: 1em;
  content: "↑";
}

table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "↓";
}

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
  opacity: 3;
}

table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  opacity: 0;
}
table.dataTable.table-sm > thead > tr > th:not(.sorting_disabled) {
  padding-right: 20px;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  top: 5px;
  right: 0.85em;
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 5px;
}

table.table-bordered.dataTable thead tr:first-child th,
table.table-bordered.dataTable thead tr:first-child td {
  border-top-width: 1px;
}

div.DTE_Field_Type_datatable table.dataTable thead th,
div.DTE_Field_Type_datatable table.dataTable thead td {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #aaa;
}

div.DTE_Field_Type_datatable div.dataTables_scrollHead table.dataTable thead th,
div.DTE_Field_Type_datatable
  div.dataTables_scrollHead
  table.dataTable
  thead
  td {
  border-bottom: none !important;
}

.fc-col-header thead th {
  padding: 15px;
}

table.table-bordered.dataTable thead tr:first-child th,
table.table-bordered.dataTable thead tr:first-child td {
  border-top-width: 0 !important;
}

@media (max-width: 576px) {
  .cal1 .clndr .clndr-table tr .day .day-contents {
    padding: 7px !important;
  }

  .fc-col-header thead th {
    padding: 10px 0px !important;
  }
}

.table > thead > tr > td,
.table > thead > tr > th {
  font-weight: 500;
  background-color: #f5fbd8;
  -webkit-transition: all 0.3s ease;
}
.rtl table.dataTable > thead .sorting::before,
.rtl table.dataTable > thead .sorting_asc::before,
.rtl table.dataTable > thead .sorting_desc::before,
.rtl table.dataTable > thead .sorting_asc_disabled::before,
.rtl table.dataTable > thead .sorting_desc_disabled::before {
  left: 1em;
  right: auto;
}

.rtl table.dataTable > thead .sorting::after,
.rtl table.dataTable > thead .sorting_asc::after,
.rtl table.dataTable > thead .sorting_desc::after,
.rtl table.dataTable > thead .sorting_asc_disabled::after,
.rtl table.dataTable > thead .sorting_desc_disabled::after {
  left: 0.5em;
  right: auto;
}

.rtl table.dataTable > thead > tr > th:not(.sorting_disabled),
.rtl table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 0.75rem;
  padding-left: 30px;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #e9edf4;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
}

table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  display: none;
  margin-left: 1%;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  margin-top: 2px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  font-weight: 600;
  text-align: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
  box-sizing: content-box;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info {
    text-align: left !important;
  }

  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center !important;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
  }
}

table.table-bordered.dataTable {
  border-right-width: 0;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}

table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable td:first-child {
  border-left-width: 0px;
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 1px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-bottom-width: 0px;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

.dataTables_wrapper .selected {
  background: #f6f6fb;
  cursor: pointer;
}

#delete-datatable tr {
  cursor: pointer;
}

div.DTE_Field_Type_datatable div.dataTables_info {
  font-size: 0.8em;
  line-height: 1.3em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

div.DTE_Field_Type_datatable div.dataTables_info span.select-info {
  display: block;
}

div.DTE_Field_Type_datatable div.dataTables_filter {
  padding-right: 1em;
  padding-bottom: 0.5em;
}

div.DTE_Field_Type_datatable div.dataTables_filter input {
  width: 100%;
}

div.DTE_Field_Type_datatable div.dt-buttons {
  padding-right: 1em;
  padding-bottom: 0.5em;
}

div.DTE_Field_Type_datatable div.dt-buttons button {
  width: 100%;
}

div.DTE_Field_Type_datatable div.dt-buttons:empty {
  padding-bottom: 0;
}

div.DTE_Field_Type_datatable div.dataTables_paginate {
  float: none;
  text-align: center;
  font-size: 0.8em;
}

div.DTE_Field_Type_datatable table.dataTable.no-footer {
  border-bottom: 1px solid #aaa !important;
}

div.DTE_Field_Type_datatable table.dataTable tbody th:first-child,
div.DTE_Field_Type_datatable table.dataTable tbody td:first-child {
  border-left: 1px solid #aaa;
}

div.DTE_Field_Type_datatable table.dataTable tbody th:last-child,
div.DTE_Field_Type_datatable table.dataTable tbody td:last-child {
  border-right: 1px solid #aaa;
}

div.DTE_Field_Type_datatable table.dataTable tfoot th,
div.DTE_Field_Type_datatable table.dataTable tfoot td {
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #aaa;
}

div.DTE_Field_Type_datatable div.dataTables_scrollHead table.dataTable {
  border-bottom: none !important;
}

div.DTE_Field_Type_datatable div.dataTables_scrollBody {
  border: 1px solid #aaa !important;
  border-radius: 3px;
}

div.DTE_Field_Type_datatable div.dataTables_scrollBody table.dataTable {
  border-bottom: none !important;
}

div.DTE_Field_Type_datatable
  div.dataTables_scrollBody
  table.dataTable
  tbody
  th:first-child,
div.DTE_Field_Type_datatable
  div.dataTables_scrollBody
  table.dataTable
  tbody
  td:first-child {
  border-left: none;
}

div.DTE_Field_Type_datatable
  div.dataTables_scrollBody
  table.dataTable
  tbody
  th:last-child,
div.DTE_Field_Type_datatable
  div.dataTables_scrollBody
  table.dataTable
  tbody
  td:last-child {
  border-right: none;
}

table.dataTable tbody tr.highlight {
  background-color: #fffbcc !important;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

table.dataTable tbody tr.noHighlight,
table.dataTable tbody tr.highlight td,
table.dataTable tbody tr.noHighlight td {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

table.dataTable.stripe tbody tr.odd.highlight,
table.dataTable.display tbody tr.odd.highlight {
  background-color: #f9f5c7;
}

table.dataTable.hover tbody tr:hover.highlight,
table.dataTable.hover tbody tr.odd:hover.highlight,
table.dataTable.hover tbody tr.even:hover.highlight {
  background-color: #f6f2c5;
}

table.dataTable.display tbody tr:hover.highlight,
table.dataTable.display tbody tr.odd:hover.highlight,
table.dataTable.display tbody tr.even:hover.highlight {
  background-color: #f6f2c5;
}

table.dataTable.order-column tbody tr.highlight > .sorting_1,
table.dataTable.order-column tbody tr.highlight > .sorting_2,
table.dataTable.order-column tbody tr.highlight > .sorting_3 {
  background-color: #faf6c8;
}

table.dataTable.display tbody tr.highlight > .sorting_1,
table.dataTable.display tbody tr.highlight > .sorting_2,
table.dataTable.display tbody tr.highlight > .sorting_3 {
  background-color: #faf6c8;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_1 {
  background-color: #f1edc1;
}

table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_1 {
  background-color: #f1edc1;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_2 {
  background-color: #f3efc2;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_3 {
  background-color: #f5f1c4;
}

table.dataTable.display tbody tr.even.highlight > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_1 {
  background-color: #faf6c8;
}

table.dataTable.display tbody tr.even.highlight > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_2 {
  background-color: #fcf8ca;
}

table.dataTable.display tbody tr.even.highlight > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_3 {
  background-color: #fefacb;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_1,
table.dataTable.display tbody tr.odd:hover.highlight > .sorting_1,
table.dataTable.display tbody tr.even:hover.highlight > .sorting_1 {
  background-color: #eae6bb;
}

table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_1 {
  background-color: #eae6bb;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_2,
table.dataTable.display tbody tr.odd:hover.highlight > .sorting_2,
table.dataTable.display tbody tr.even:hover.highlight > .sorting_2 {
  background-color: #ece8bd;
}

table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_2 {
  background-color: #ece8bd;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_3,
table.dataTable.display tbody tr.odd:hover.highlight > .sorting_3,
table.dataTable.display tbody tr.even:hover.highlight > .sorting_3 {
  background-color: #efebbf;
}

table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_3 {
  background-color: #efebbf;
}

table.dataTable tr.dte-inlineAdd td,
table.dataTable tr.dte-inlineAdd th {
  vertical-align: top;
}
table.dataTable tbody th.focus,
table.dataTable tbody td.focus {
  box-shadow: inset 0 0 1px 2px var(--primary-bg-color);
}

div.dtk-focus-alt table.dataTable tbody th.focus,
div.dtk-focus-alt table.dataTable tbody td.focus {
  box-shadow: inset 0 0 1px 2px #ff8b33;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child {
  cursor: default !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before {
  display: none !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before {
  display: none !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  top: 50%;
  left: 5px;
  height: 1em;
  width: 1em;
  margin-top: -9px;
  display: block;
  position: absolute;
  color: white;
  border: 0.15em solid white;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #777086;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: var(--primary-bg-color);
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:before {
  content: "-";
  background-color: #f82649;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td.dtr-control,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th.dtr-control {
  padding-left: 27px;
}

table.dataTable.dtr-inline.collapsed.compact
  > tbody
  > tr
  > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed.compact
  > tbody
  > tr
  > th.dtr-control:before {
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control,
table.dataTable.dtr-column > tbody > tr > th.dtr-control,
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-column > tbody > tr > th.dtr-control:before,
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 0.8em;
  width: 0.8em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  display: block;
  position: absolute;
  color: white;
  border: 0.15em solid white;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #0d6efd;
}

table.dataTable.dtr-column > tbody > tr.parent td.dtr-control:before,
table.dataTable.dtr-column > tbody > tr.parent th.dtr-control:before,
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: "-";
  background-color: #d33333;
}

table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}

table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}

table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
  padding-top: 0;
}

table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
  border-bottom: none;
}

table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
@media (max-width: 767px) {
  .nav-tabs .nav-link {
    width: 100%;
  }

  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 10px !important;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
  }
}

@media screen and (max-width: 428px) {
  .sw-toolbar.sw-toolbar-bottom .sw-btn-group,
  .sw-toolbar.sw-toolbar-bottom .sw-btn-group-extra {
    margin-bottom: 5px;
  }

  .wizard > .actions a {
    padding: 9px 19px !important;
  }

  .dataTables_paginate .pagination .page-link {
    padding: 0.5rem 5px;
  }

  .vtimeline .timeline-wrapper .timeline-panel:after {
    display: none !important;
  }
}

.rtl div.dataTables_wrapper div.dataTables_length label {
  text-align: start;
}

.rtl div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}

.rtl div.dataTables_wrapper div.dataTables_filter input {
  margin-right: 0.5em;
  margin-left: inherit;
}

.rtl table.table-bordered.dataTable th:last-child,
.rtl table.table-bordered.dataTable th:last-child,
.rtl table.table-bordered.dataTable td:last-child,
.rtl table.table-bordered.dataTable td:last-child {
  border-left-width: 1px;
}

@media screen and (max-width: 1354px) {
  .rtl #tab5 table.table-bordered.dataTable th:last-child,
  .rtl #tab5 table.table-bordered.dataTable th:last-child,
  .rtl #tab5 table.table-bordered.dataTable td:last-child,
  .rtl #tab5 table.table-bordered.dataTable td:last-child {
    border-left-width: 1px;
  }

  .rtl .example .btn .badge {
    margin-left: 0 !important;
  }
}
.rtl table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  padding-right: 30px;
  padding-left: auto;
}

.rtl table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
.rtl table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  right: 5px;
  left: 0;
}

th {
  text-align: inherit;
}

@media print {
  .table,
  .text-wrap table {
    border-collapse: collapse !important;
  }

  .table td,
  .text-wrap table td,
  .table th,
  .text-wrap table th {
    background-color: #fff !important;
  }

  .table-bordered th,
  .text-wrap table th,
  .table-bordered td,
  .text-wrap table td {
    border: 1px solid #e9edf4 !important;
  }
}

/*------ Tables -----*/
.table,
.text-wrap table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th {
  padding: 0.73rem;
  vertical-align: top;
}

.text-wrap table th,
.text-wrap table td {
  padding: 0.75rem;
  vertical-align: top;
}

.table td {
  padding: 0.73rem;
  vertical-align: top;
  border-top: 0;
}

.table tbody + tbody,
.text-wrap table tbody + tbody {
  border-top: 2px solid #e9edf4;
}

.table .table,
.text-wrap table .table,
.table .text-wrap table {
  background-color: #f6f6fb;
}

.text-wrap .table table,
.text-wrap table table {
  background-color: #f6f6fb;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered,
.text-wrap table,
.table-bordered th,
.text-wrap table th,
.table-bordered td,
.text-wrap table td {
  border: 1px solid #e9edf4;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover,
.table-hover tbody th {
  background-color: #f6f6fb;
}

.table-primary {
  background-color: #d2cdf9;
}

.table-primary > th,
.table-primary > td {
  background-color: #d2cdf9;
}

.table-hover .table-primary:hover {
  background-color: #b7cded;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b7cded;
}

.table-secondary {
  background-color: #fdccdb;
}

.table-secondary > th,
.table-secondary > td {
  background-color: #fdccdb;
}

.table-hover .table-secondary:hover {
  background-color: #cfd2d6;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #cfd2d6;
}

.table-success {
  background-color: #d2ecb8;
}

.table-success > th,
.table-success > td {
  background-color: #d2ecb8;
}

.table-hover .table-success:hover {
  background-color: #c5e7a4;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #c5e7a4;
}

.table-info {
  background-color: #cbe7fb;
}

.table-info > th,
.table-info > td {
  background-color: #cbe7fb;
}

.table-hover .table-info:hover {
  background-color: #b3dcf9;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #b3dcf9;
}

.table-warning {
  background-color: #f1d5a7;
}

.table-warning > th,
.table-warning > td {
  background-color: #f1d5a7;
}

.table-hover .table-warning:hover {
  background-color: #fae8a4;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fae8a4;
}

.table-danger {
  background-color: #f1c1c0;
}

.table-danger > th,
.table-danger > td {
  background-color: #f1c1c0;
}

.table-hover .table-danger:hover {
  background-color: #ecacab;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ecacab;
}

.table-light {
  background-color: #fdfdfe;
}

.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark {
  background-color: #212529;
}

.table-dark > th,
.table-dark > td {
  background-color: #212529;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-dark {
  color: #f6f6fb;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  color: #f6f6fb;
  border-bottom-color: rgba(255, 255, 255, 0.05) !important;
}

.table-dark.table-bordered {
  border: 0;
}

.text-wrap table.table-dark {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: #212529;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table-dark.table-hover tbody tr:hover {
  background-color: #212529;
}

.table-inbox {
  border: 1px solid #e9edf4;
  margin-bottom: 0;
}

.table-inbox tr {
  border-bottom: 1px solid rgba(238, 238, 238, 0.7);
}

.table-inbox tr:last-child {
  border-bottom: 1px solid #e9edf4;
}

.table-inbox tr td {
  padding: 12px !important;
}

.table-inbox tr td:hover {
  cursor: pointer;
}

.table-inbox tr td .fa-star.inbox-started,
.table-inbox tr td .fa-star:hover {
  color: #f78a09;
}

.table-inbox tr.unread td {
  background: #f6f6fb;
  font-weight: 500;
}

.table th,
.text-wrap table th {
  color: #2e3138;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
}

.table-md th,
.table-md td {
  padding: 0.5rem;
}

.table-vcenter td,
.table-vcenter th {
  vertical-align: middle;
  border-top: 1px solid #e9edf4;
}

.table-secondary tbody + tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
  border-color: rgba(255, 255, 255, 0.2);
}

.table-primary tbody + tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
  border-color: rgba(255, 255, 255, 0.2);
}

.table-center td,
.table-center th {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table-calendar {
  margin: 0 0 0.75rem;
}

.table-calendar td,
.table-calendar th {
  border: 0;
  text-align: center;
  padding: 0 !important;
  width: 14.28571429%;
  line-height: 2.5rem;
}

.table-calendar td {
  border-top: 0;
}

.table-calendar-link {
  line-height: 2rem;
  min-width: calc(2rem + 2px);
  display: inline-block;
  border-radius: 3px;
  background: #f8f9fa;
  color: #495057;
  font-weight: 600;
  transition: 0.3s background, 0.3s color;
  position: relative;
}

.table-calendar-link:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  border-radius: 50px;
  background: #467fcf;
}

.table-calendar-link:hover {
  color: #fff;
  text-decoration: none;
  background: #467fcf;
  transition: 0.3s background;
}

.table-calendar-link:hover:before {
  background: #fff;
}

.table-header {
  cursor: pointer;
  transition: 0.3s color;
}

.table-header:hover {
  color: #495057 !important;
}

.table-header:after {
  content: "\f0dc";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.table-header-asc {
  color: #495057 !important;
}

.table-header-asc:after {
  content: "\f0de";
}

.table-header-desc {
  color: #495057 !important;
}

.table-header-desc:after {
  content: "\f0dd";
}

table {
  border-collapse: collapse;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #e9edf4;
}

.table > :not(caption) > * > * {
  background: transparent;
  box-shadow: none;
}

.table tbody td {
  border-color: #e9edf4;
}

.table > :not(:first-child) {
  border-top: 1px solid #e9edf4;
}

div.dt-datetime table {
  border-spacing: 0;
  margin: 12px 0;
  width: 100%;
}

div.dt-datetime table.dt-datetime-table-nospace {
  margin-top: -12px;
}

div.dt-datetime table th {
  font-size: 13px;
  color: #000;
  font-weight: normal;
  width: 14.285714286%;
  padding: 0 7px 15px 7px;
  text-align: center;
}

div.dt-datetime table td {
  font-size: 0.9em;
  color: #444;
  padding: 0;
}

div.dt-datetime table td.selectable {
  text-align: center;
}

div.dt-datetime table td.selectable.disabled {
  color: #aaa;
  background: white;
}

div.dt-datetime table td.selectable.disabled button:hover {
  color: #aaa;
  background: white;
}

div.dt-datetime table td.selectable.now {
  background-color: var(--primary-bg-color);
  color: #fff;
}

div.dt-datetime table td.selectable.now button {
  font-weight: bold;
}

div.dt-datetime table td.selectable.selected button {
  background: var(--primary09);
  color: white;
  border-radius: 2px;
}

div.dt-datetime table td.selectable button:hover {
  background: var(--primary-bg-color);
  color: white;
  border-radius: 2px;
}

div.dt-datetime table td.dt-datetime-week {
  font-size: 0.7em;
}

div.dt-datetime table button {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  text-align: center;
  padding: 7px 10px;
  cursor: pointer;
  margin: 0;
}

div.dt-datetime table button span {
  display: inline-block;
  min-width: 14px;
  text-align: right;
}

div.dt-datetime table.weekNumber th {
  width: 12.5%;
}

div.dt-datetime div.dt-datetime-calendar table {
  margin-top: 0;
}

div.dt-datetime div.dt-datetime-label {
  position: relative;
  display: inline-block;
  padding: 5px 6px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}

div.dt-datetime div.dt-datetime-label:hover {
  border: 1px solid #e9edf4;
  border-radius: 2px;
  background-color: var(--primary01);
}

div.dt-datetime div.dt-datetime-label select {
  position: absolute;
  top: 6px;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

div.dt-datetime.horizontal {
  width: 550px;
}

div.dt-datetime.horizontal div.dt-datetime-date,
div.dt-datetime.horizontal div.dt-datetime-time {
  width: 48%;
}

div.dt-datetime.horizontal div.dt-datetime-time {
  margin-left: 4%;
}

div.dt-datetime div.dt-datetime-date {
  position: relative;
  float: left;
  width: 100%;
}

div.dt-datetime div.dt-datetime-time {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}

div.dt-datetime div.dt-datetime-time > span {
  vertical-align: middle;
}

div.dt-datetime div.dt-datetime-time th {
  text-align: left;
}

div.dt-datetime div.dt-datetime-time div.dt-datetime-timeblock {
  display: inline-block;
  vertical-align: middle;
}

div.dt-datetime div.dt-datetime-iconLeft,
div.dt-datetime div.dt-datetime-iconRight,
div.dt-datetime div.dt-datetime-iconUp,
div.dt-datetime div.dt-datetime-iconDown {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  overflow: hidden;
  box-sizing: border-box;
}

div.dt-datetime div.dt-datetime-iconLeft:hover,
div.dt-datetime div.dt-datetime-iconRight:hover,
div.dt-datetime div.dt-datetime-iconUp:hover,
div.dt-datetime div.dt-datetime-iconDown:hover {
  border: 1px solid #e9edf4;
  border-radius: 2px;
  background-color: #f0f0f0;
  opacity: 0.6;
}

div.dt-datetime div.dt-datetime-iconLeft button,
div.dt-datetime div.dt-datetime-iconRight button,
div.dt-datetime div.dt-datetime-iconUp button,
div.dt-datetime div.dt-datetime-iconDown button {
  border: none;
  background: transparent;
  text-indent: 30px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

div.dt-datetime div.dt-datetime-iconLeft {
  position: absolute;
  top: 15px;
  left: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
}

div.dt-datetime div.dt-datetime-iconRight {
  position: absolute;
  top: 15px;
  right: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
}

div.dt-datetime div.dt-datetime-iconUp {
  height: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAALCAMAAABf9c24AAAAFVBMVEX///99fX1+fn57e3t6enoAAAAAAAC73bqPAAAABnRSTlMAYmJkZt92bnysAAAAL0lEQVR4AWOgJmBhxCvLyopHnpmVjY2VCadeoCxIHrcsWJ4RlyxCHlMWCTBRJxwAjrIBDMWSiM0AAAAASUVORK5CYII=");
}

div.dt-datetime div.dt-datetime-iconDown {
  height: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAALCAMAAABf9c24AAAAFVBMVEX///99fX1+fn57e3t6enoAAAAAAAC73bqPAAAABnRSTlMAYmJkZt92bnysAAAAMElEQVR4AWOgDmBiRQIsmPKMrGxQgJDFlEfIYpoPk8Utz8qM232MYFfhkQfKUg8AANefAQxecJ58AAAAAElFTkSuQmCC");
}

div.dt-datetime-error {
  clear: both;
  padding: 0 1em;
  max-width: 240px;
  font-size: 11px;
  line-height: 1.25em;
  text-align: center;
  color: #b11f1f;
}

.datetimetable input {
  border: 1px solid #e9edf4;
  padding: 7px;
}

.datetimetable input:focus-visible {
  outline: none;
}

.datetimetable input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

div.dt-datetime {
  position: absolute;
  background-color: white;
  z-index: 2050;
  border: 1px solid #e9edf4;
  box-shadow: 0px 16px 18px rgba(104, 113, 123, 0.2);
  padding: 0 20px 6px 20px;
  width: 300px;
  border-radius: 5px;
  margin-top: 5px;
}

div.dt-datetime.inline {
  position: relative;
  box-shadow: none;
}

div.dt-datetime div.dt-datetime-title {
  text-align: center;
  padding: 14px 3px 15px;
}

div.dt-datetime div.dt-datetime-buttons {
  text-align: center;
}

div.dt-datetime div.dt-datetime-buttons a {
  display: inline-block;
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0;
  font-size: 0.9em;
}

div.dt-datetime div.dt-datetime-buttons a:hover {
  text-decoration: underline;
}

div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table {
  width: 100%;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content {
  padding: 0;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content
  div.DTE_Field {
  position: relative;
  margin-bottom: 0.5em;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content
  div.DTE_Field:last-child {
  margin-bottom: 0;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content
  div.DTE_Field
  > label {
  padding-top: 0;
  margin-bottom: 0;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content
  div.DTE_Field
  > div {
  padding: 0;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  > form
  div.DTE_Form_Content
  div.DTE_Field
  > div
  input {
  margin: 0;
}

div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table div.DTE_Form_Buttons {
  text-align: right;
  margin-top: 1em;
}

div.DTE_Bubble
  div.DTE_Bubble_Liner
  div.DTE_Bubble_Table
  div.DTE_Form_Buttons
  button {
  margin-bottom: 0;
}

div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header + div.DTE_Form_Info,
div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header + div.DTE_Bubble_Table {
  padding-top: 42px;
}
