.container-login100 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-top: -15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 999;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}
.container-login100 .box .social-icons {
  position: relative;
}

.container-login100 .box ul {
  margin: 0;
  padding: 0;
}

.container-login100 .box ul li {
  list-style: none;
  float: left;
  padding: 7px 7px;
}

.container-login100 .box ul li a {
  margin: 0 10px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}
.wrap-login100 {
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  padding: 47px 40px 47px 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  z-index: 1;
}
@media (max-width: 991px) {
  .wrap-login100 {
    width: 80%;
    padding: 35px 90px 35px 85px;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    width: 80%;
    padding: 30px 80px 30px 80px;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    width: 80%;
    padding: 25px 15px 25px 15px;
  }
}
@media (max-width: 300px) {
  .wrap-login100 {
    width: 80%;
    padding: 25px 15px 25px 15px;
  }
}
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  display: block;
  width: 80%;
  background: #ffffff;
  height: 44px;
  padding: 0 30px 0 20px;
  border-radius: 5px;
  border: 1px solid #ecf0fa;
}
.login100-form-title {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 30px;
  color: #424344;
}

.login100-form-btn {
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-radius: 5px;
}
.wrap1-login100 {
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  padding: 47px 40px 47px 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  z-index: 1;
}

@media (max-width: 991px) {
  .wrap1-login100 {
    width: 80%;
    padding: 35px 90px 35px 85px;
  }
}

@media (max-width: 768px) {
  .wrap1-login100 {
    width: 80%;
    padding: 30px 80px 30px 80px;
  }
}

@media (max-width: 576px) {
  .wrap1-login100 {
    width: 80%;
    padding: 25px 15px 25px 15px;
  }
}
@media (max-width: 300px) {
  .wrap1-login100 {
    width: 80%;
    padding: 25px 15px 25px 15px;
  }
}
